.navbar {
display: flex;
justify-content: space-between;
padding: 15px 30px;
background: #1c1c1c;
}


.navbar h2 { color: #fff; }


.navbar a {
color: white;
margin-left: 20px;
text-decoration: none;
}


@media (max-width: 600px) {
.navbar { flex-direction: column; text-align: center; }
}